body {
    background-color: #2C3E50;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #404040;
    justify-content: space-between;
    align-items: center;
}

.c_vit_logo {
    width: 200px;
}

.c_club_logo {
    width: 200px;
    padding-top: 0px;
}

.c_navbar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.vit_logo {
    width: 200px;
}

.club_logo {
    width: 200px;
}

.vit_logo:hover {
    box-shadow: 2px 2px 3px #DCDCDC;
}

.navbar {
    list-style-type: none;
    display: flex;
    padding-top: 20px;
    margin: 0;
}

.navbar a {
    font-size: 22px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    background-color: #A9A9A9;
    border-radius: 30px;
    margin-right: 5px;
}

.navbar a:hover {
    background-color: #DCDCDC;
}
